[Unit]
Description=Flatcar Forklift Custom Kernel Modules
Before=local-fs.target
ConditionPathExists=/opt/overlay/modules

[Mount]
Type=overlay
What=overlay
Where=/usr/lib64/modules
Options=lowerdir=/usr/lib64/modules,upperdir=/opt/overlay/modules,workdir=/opt/overlay/modules.wd

[Install]
WantedBy=local-fs.target
